@import '../theme/vars';

:host {
  display: inline-block;
  --shadow: var(--bearer-popover-shadow, #{$bearer-intermediate-shadow});
  --bg-color: var(--bearer-popover-bg-color, #FFF);
  --margin: var(--bearer-popover-margin, 12px);
  --vertical-padding: var(--bearer-popover-vertical-padding, 24px);
  --horizontal-padding: var(--bearer-popover-vertical-padding, 32px);
  position: relative;
}

.popover {
  position: absolute;
  box-sizing: border-box;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  border-radius: 4px;
  z-index: 10;
  overflow: auto;

  &.hidden {
    display: none;
  }

  &.direction-bottom {
    top: calc(100% + var(--margin));
    transform: translateX(-50%);
    margin-left: 50%;
  }

  &.direction-top {
    bottom: calc(100% + var(--margin));
    left: 0;
    top: initial;
    transform: translateX(-50%);
    margin-left: 50%;
  }

  &.direction-left {
    top: 0;
    left: initial;
    right: calc(100% + var(--margin));
  }

  &.direction-right {
    left: calc(100% + var(--margin));
    top: 0;
  }
  
  &[aligned='left'].direction-bottom,
  .aligned-left.direction-bottom {
    left: 0;
    transform: initial;
    margin-left: initial;
  }

  &[aligned='right'] .direction-bottom,
  .aligned-right.direction-bottom {
    right: 0;
    transform: initial;
    margin-left: initial;
  }
}

.popover-container {
  padding: var(--vertical-padding) var(--horizontal-padding);
  min-width: 220px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.popover-content {
  max-height: calc(80vh - 50px);
  padding: 0;
  flex: 1;
}

.popover-header {
  margin-top: 0;
  margin-bottom: var(--vertical-padding);
  display: flex;
}

.popover-heading {

  & > h3 {
    margin: 0;
  }
}

.popover-actions {
  & > * {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
  }
}

.popover-copyright {
  color: #9198B6;
  position: absolute;
  left: 6px;
  bottom: 6px;
  font-size: 11px;
  letter-spacing: -0.8px;

  & a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}