/*
 * Colors
 */
$bearer-primary: #030D36;
$bearer-primary-alternate: #FFF;
$bearer-primary-hover: #021561;
$bearer-primary-hover-alternate: $bearer-primary-alternate;
$bearer-primary-active: #505B8A;
$bearer-primary-active-alternate: $bearer-primary-alternate;
$bearer-primary-disabled: #D6DAE7;
$bearer-primary-disabled-alternate: #D6DAE7;

$bearer-secondary: #0FE49B;
$bearer-secondary-alternate: #FFF;
$bearer-secondary-hover: #0EBD81;
$bearer-secondary-hover-alternate: $bearer-secondary-alternate;
$bearer-secondary-active: #5EB597;
$bearer-secondary-active-alternate: $bearer-secondary-alternate;
$bearer-secondary-disabled: #D5E7E1;
$bearer-secondary-disabled-alternate: #D6DAE7;


$bearer-ternary: #0FE49B;
$bearer-ternary-alternate: #FFF;
$bearer-ternary-hover: #0EBD81;
$bearer-ternary-hover-alternate: $bearer-ternary-alternate;
$bearer-ternary-active: #5EB597;
$bearer-ternary-active-alternate: $bearer-ternary-alternate;
$bearer-ternary-disabled: #D5E7E1;
$bearer-ternary-disabled-alternate: #D6DAE7;

/*
* Sizes
*/

$bearer-font-base: 16px;
$bearer-decrease-ratio: 14/16;
$bearer-increase-ratio: 18/16;

/*
 * Shadows
 */

$bearer-intermediate-shadow: 0 2px 4px 0 rgba(3, 13, 54, 0.21);
$bearer-intermediate-high: 0 2px 4px 0 rgba(3, 13, 54, 0.26);
$bearer-intermediate-low: 0 2px 6px 0 rgba(3, 13, 54, 0.09);
$bearer-button-action-shadow: 0 2px 4px 0 rgba(3, 13, 54, 0.12);
$bearer-button-action-hover-shadow: 0 2px 4px 0 rgba(3, 13, 54, 0.5);

/*
 * Durations
 */

$bearer-transition-duration: 250ms;

/*
 * Font
 */

$bearer-font-family: inherit;
