/*
 * Buttons
 */ 

// Base for buttons
// ----------------------------------

$bearer-button-cursor: auto;
$bearer-button-font-color: #fff;
$bearer-button-border: none;
$bearer-button-border-radius: 4px;
$bearer-button-box-shadow: 4px;
$bearer-button-display: inline-block;

$bearer-button-vertical-padding: 16px;
$bearer-button-horizontal-padding: 16px;
$bearer-button-small-vertical-padding: 8px;
$bearer-button-small-horizontal-padding: 14px;
$bearer-button-large-vertical-padding: 14px;
$bearer-button-large-horizontal-padding: 24px;

$bearer-button-padding: #{$bearer-button-vertical-padding} #{$bearer-button-horizontal-padding};
$bearer-button-small-padding: #{$bearer-button-small-vertical-padding} #{$bearer-button-small-horizontal-padding};
$bearer-button-large-padding: #{$bearer-button-large-vertical-padding} #{$bearer-button-large-horizontal-padding};

// Kinds + States
// ----------------------------------

// Embed button
$bearer-button-embed-font-color: #030D36;
$bearer-button-embed-border: none;
$bearer-button-embed-border-radius: 2px;
$bearer-button-embed-vertical-padding: 10px;
$bearer-button-embed-horizontal-padding: 17px;
$bearer-button-embed-padding: #{$bearer-button-embed-vertical-padding} #{$bearer-button-embed-horizontal-padding};

$bearer-button-embed-background: #fff;
$bearer-button-embed-hover-background: $bearer-button-embed-background;
$bearer-button-embed-active-background: $bearer-button-embed-background;
$bearer-button-embed-disabled-background: $bearer-button-embed-background;

$bearer-button-embed-box-shadow: 0 2px 4px 0 rgba(3,13,54,0.2);
$bearer-button-embed-hover-box-shadow: 0 2px 6px 0 rgba(3,13,54,0.44);
$bearer-button-embed-active-box-shadow: inset 0 4px 6px 0 rgba(3,13,54,0.26), 0 2px 6px 0 rgba(3,13,54,0.44);
$bearer-button-embed-disabled-box-shadow: 0 2px 4px 0 rgba(3,13,54,0.12);

// Primary button
$bearer-button-primary-font-color: #fff;
$bearer-button-primary-border-radius: 4px;
$bearer-button-primary-background: #0FE49B;
$bearer-button-primary-background-hover: #0EBD81;
$bearer-button-primary-background-active: #5EB597;
$bearer-button-primary-background-disabled: #D5E7E1;

// Secondary button
$bearer-button-secondary-font-color: #030D36;
$bearer-button-secondary-hover-font-color: #0931D5;
$bearer-button-secondary-active-font-color: #0931D5;
$bearer-button-secondary-disabled-font-color: #DDE0E9;

$bearer-button-secondary-background: transparent;

// Danger button
$bearer-button-danger-font-color: #898B92;
$bearer-button-danger-hover-font-color: #9D0D0D;
$bearer-button-danger-active-font-color: #9D0D0D;
$bearer-button-danger-disabled-font-color: $bearer-button-danger-font-color;

$bearer-button-danger-background: transparent;

// Error button
$bearer-button-error-font-color: #DC4C4C;
$bearer-button-error-hover-font-color: #9D0D0D;
$bearer-button-error-active-font-color: #9D0D0D;
$bearer-button-error-disabled-font-color: $bearer-button-error-font-color;

$bearer-button-error-background: transparent;