#dist folder
dist

# build folder
bearer-build

.DS_Store

temp/

bearer

.envrc
/*.pprof

.bash_history
.cache/

# docs
docs/yarn.lock

/internal/parser/sitter/config_variables/build

internal/detectors/dotnet/**/obj
