.root {
  position: relative;
  display: inline-block;

  .dropdown-down {
    position: absolute;
    border: solid 1px silver;
    background-color: white;
    z-index: 1;
    padding: 20px 10px 10px 10px;
    min-width: 320px;
    max-height: 80vh;
    border-radius: 3px;
  }

  .symbol {
    padding-left: 10px;
  }
}
