<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Curio: {{title}}</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="{{meta.description}}"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="google-site-verification" content="TPIn3qa-ZOQsCQrpOB6J5eALE4dPBPiRBEJP5azpo9g"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="icon" href="/assets/img/favicon.ico"/>
    <link rel="icon" href="/assets/img/favicon.svg"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <link rel="stylesheet" href="/prism-theme.css"/>
    <script defer data-domain="curio.sh" src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="bg-white dark:bg-neutral-600">
    {% include "nav.njk" %}
    {{ content | safe }}
  </body>
  <script src="/app.js"></script>
</html>