<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Curio: {{title}}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name='robots' content='noindex,nofollow'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <link rel="stylesheet" href="/prism-theme.css"/>
  </head>
  <body class="bg-white dark:bg-black">
    {% include "nav.njk" %}
    {{ content | safe }}
  </body>
</html>