---
layout: layouts/base.njk
---

<main class="max-w-6xl sm:flex gap-10 mx-auto text-black dark:text-neutral-100 px-4 relative">
	<nav class="self-start sticky top-[6.75rem] min-w-fit">
		<ul>
			{# <li>
				<a class="" href="/docs">Get Started</a>
			</li> #}
			<li class="mb-4">
				<h2 class="font-bold text-md">Start Here</h2>
				<ul class="">
					<li>
						<a href="/quickstart">Quickstart</a>
					</li>
					<li>Create a policy</li>
				</ul>

			</li>
			<li class="mb-4">
				<h2 class="font-bold text-md">Explanations</h2>
				<ul class="">
					<li>Detection</li>
					<li>Classification</li>
					<li>Policies</li>
				</ul>
			</li>
			{# <li class="mb-4">
				<h2 class="font-bold text-md inline">How-to</h2>
			</li> #}
			<li class="mb-4">
				<h2 class="font-bold text-md">Reference</h2>
				<ul class="">
					<li>
						<a href="/reference/commands" class="">Commands</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<article class="prose dark:prose-invert max-w-5xl pl-8">
		{{ content | safe }}
	</article>
	<aside class="self-start sticky top-[6.75rem] min-w-fit text-sm">
		<h2 class="font-bold text-md">On this page</h2>
		<a href="#" class="hover:underline">Overview</a>
		{{ content | toc | safe }}
		<h2 class="mt-2 font-bold text-md">Contribute</h2>
		<ul>
			<li>
				<a class="hover:underline" href="{{meta.sourcePath}}/blob/main/docs/{{ page.inputPath }}">Edit this page</a>
			</li>
			<li>
				<a href="" class="hover:underline">Leave feedback</a>
			</li>
		</ul>
	</aside>
</main>
<footer class="p-4 mt-4 text-center">Placeholder Footer</footer>