@import '../theme/vars';

:host {
  display: inline-block;
  --back-arrow-width: var(--bearer-popover-arrow-back-width, 2px);
  --back-arrow-size: var(--bearer-popover-arrow-back-size, 1em);
  --back-arrow-color: var(--bearer-popover-arrow-back-color, var(--bearer-primary, #{$bearer-primary}));
  --back-arrow-color-disabled: var(--bearer-popover-arrow-back-color-disabled, var(--bearer-primary-disabled, #{$bearer-primary-disabled}))
}

button {
  background: none;
  border: none;
  padding: 0;
  width: 14px; // arbitrary value to align arrow
  height: 14px; // arbitrary value to align arrow

  &:not([disabled]) {
    cursor: pointer;
  }
}

i {
  border: solid var(--back-arrow-color);
  border-width: 0 var(--back-arrow-width) var(--back-arrow-width) 0;
  display: inline-block;
  height: var(--back-arrow-size);
  width: var(--back-arrow-size);
  transform: rotate(135deg);
}
