// TODO: remove reboot at some point => smaller footprint, manage maring/padding by ourself
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/list-group';

.list-group-item {
  &:not(.disabled) {
    cursor: pointer;
  }

  border-radius: 0 !important;
  transition: background 0.5s;

  border-left: none;
  border-right: none;

  &:first-child {
    border-top: none;
  }

  &:hover {
    background: #f2f2f2;
  }
}

.empty {
  text-align: center;
  padding: 10px;
}
