@import '../../node_modules/bootstrap/scss/buttons';

.btn-light {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  color: #030d36;
}
