* {
  font-family: var(--bearer-font-family, inherit);
  font-size: var(--bearer-font-size, 14px);
}

form,
.form-group,
.form-label,
.form-input,
.form-submit {
  box-sizing: border-box;
}

form .form-group {
  margin-bottom: 12px;
  vertical-align: baseline;
}

form .form-group:last-child {
  padding-bottom: 0;
}

form .form-group .form-label {
  font-size: 14px;
  padding-left: 16px;
  padding-bottom: 12px;
  display: block;
  color: #6a7397;
}

form .form-group .form-input {
  padding: 12px 16px;
  font-family: inherit;
  font-size: 14px;
  display: block;
  width: 100%;
  border: 1px solid #f5f7ff;
}

form .form-submit {
  text-align: right;
}

form .form-group input::placeholder {
  color: #9198b6;
}

@media only screen and (min-width: 480px) {
  form.form-inline > * {
    display: inline-block;
  }

  form.form-inline .form-group {
    margin-right: 8px;
    width: 232px;
  }

  form.form-inline .form-group .form-label {
    color: #030d36;
  }
}
