:host {
  display: inline-block;
  --shadow: var(--bearer-popover-shadow, 0 2px 4px 0 rgba(3, 13, 54, 0.2));
  --bg-color: var(--bearer-popover-bg-color, #FFF);
  --margin: var(--bearer-popover-margin, 12px);
  --vertical-padding: var(--bearer-popover-vertical-padding, 24px);
  --horizontal-padding: var(--bearer-popover-vertical-padding, 32px);
  position: relative;
}

.popover {
  position: absolute;
  background-color: var(--bg-color);
  min-width: 320px;
  max-width: 100vw;
  box-shadow: var(--shadow);
  padding: var(--vertical-padding) var(--horizontal-padding);
  z-index: 10;
}

.popover {
  &.hidden {
    display: none;
  }

  &.direction-bottom {
    top: calc(100% + var(--margin));
    transform: translateX(-50%);
    margin-left: 50%;
  }

  &.direction-top {
    bottom: calc(100% + var(--margin));
    left: 0;
    top: initial;
    transform: translateX(-50%);
    margin-left: 50%;
  }

  &.direction-left {
    top: 0;
    left: initial;
    right: calc(100% + var(--margin));
  }

  &.direction-right {
    left: calc(100% + var(--margin));
    top: 0;
  }
}

.popover-body {
  display: flex;
  overflow: auto;
  max-height: calc(80vh - 50px);
}

.popover-header {
  margin-top: 0;
  margin-bottom: var(--vertical-padding);
}

// .popover-body {
//   font
// }

// .header {
//   padding-left: 25px;
// }

// .header-arrow {
//   position: absolute;
//   left: 5px;
// }
