---
title: Curio Home
layout: layouts/base.njk
---

<main class="lg:container sm:flex justify-between gap-6 mx-auto text-black dark:text-neutral-100 relative">
  <div class="my-8 basis-2/4">
    <h2 class="text-5xl font-bold text-black dark:text-white mb-4">Discover sensitive data in seconds</h2>
    <p>Excepteur minim occaecat laborum consectetur in do officia dolor proident ut aliqua officia veniam nulla ullamco. Cillum dolor officia ex eiusmod officia. Exercitation voluptate fugiat duis occaecat mollit id occaecat in irure magna ad incididunt. </p>
    <div class="flex gap-4 mt-8">
      <a class="btn-primary text-xlg" href="/get-started/">Get Started</a>
      <a class="btn-ghost text-xlg" href="/docs">Documentation</a>
    </div>
  </div>
  <div class=""><img src="assets/img/code-example.png" alt=""></div>
</main>