<header class='py-4 mb-4 sm:px-0 bg-white dark:bg-black sm:sticky sm:top-0 z-50 '>
	<nav class='max-w-7xl mx-auto px-4 flex justify-between'>
		<a href="/" title="Return to the homepage">
			{% include 'logo.njk' %}
		</a>
		<ul class='flex gap-6 items-center text-black dark:text-neutral-100'>
			<li>
				<a href="/docs">Documentation</a>
			</li>
			<li class="">
				<a href="https://github.com/bearer/curio" class="flex gap-1">
					{% include 'icon-github.njk' %}
					{% include 'icon-star.njk' %}
					<span>1.2k</span>
				</a>
			</li>
			<li>
				<a href="" class="btn-fancy dark:btn-fancy-dark dark:text-neutral-100 text-black block">
          Try Curio
				</a>
			</li>
		</ul>
	</nav>
</header>