---
title: Data Types
layout: layouts/doc.njk
---
{# This content of this page is generated. To edit individual types or category text,
edit the files located at https://github.com/Bearer/curio/tree/main/pkg/classification/db #}
{% renderTemplate "liquid,md",
datatypes %}
# Supported Data Types
Curio supports {{counts.types}} data types including Personal Data (PD), Sensitive Personal Data, Personally Identifiable Information (PII), and Protected Health Information (PHI). 

The following is a catagorized list of the supported data types.
{% endrenderTemplate %}

{% for key, group in datatypes.output %}
  <h2 id="{{group.name | slugify}}">{{group.name}}</h2>
  {% for key, cat in group.categories %}
    <h3 id="{{group.name | slugify}}-{{cat.name | slugify}}">{{cat.name}}</h3>
    <ul>
      {% for item in cat.types %}
        <li>{{item.name}}</li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}