---
title: Policies
layout: layouts/doc.njk
---
{# This content of this page is generated. To edit individual policy titles or descriptions, 
edit https://github.com/Bearer/curio/blob/main/pkg/commands/process/settings/policies.yml #}
{% renderTemplate "liquid,md" %}
# Policies

Polices are ways to enforce data security best practices across your codebase. Curio's policy report allows you to quickly identify policy violations in your code.

Curio includes the following policies by default.
{% endrenderTemplate %}

{% for policy in policies %}
  <h2 id="{{policy.display_id | slugify}}">{{policy.display_id}}: {{policy.name}}</h2>
  <h3>Description</h3>
  <p>{{policy.description}}</p>
  <h3>{{policy.display_id}} configuration files</h3>
  <ul>
    {% for item in policy.modules %}
      <li>
        <a href="https://github.com/Bearer/curio/tree/main/pkg/commands/process/settings/{{item.path}}">{{item.path}}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}