---
pagination:
  data: rules
  size: 1
  alias: rule
  addAllPagesToCollections: true
permalink: "reference/rules/{{ rule.metadata.id | slug }}/"
layout: layouts/doc.njk
breadcrumbs:
  - name: Rules
    path: /reference/rules/
eleventyComputed:
  title: "Rule - {{ rule.metadata.description }}"
---

<h1>{{rule.metadata.description}}</h1>
<ul class="not-prose list-none m-0 p-0">
  <li>
    <strong>Rule ID:</strong>
    {{rule.metadata.id}}</li>
  <li>
    <strong>OWASP ID:</strong>

    <a href="{{ owasp.['{{owasp_id}}'] }}">{{rule.metadata.owasp_id}}</a>
  </li>
  {% if rule.languages %}
    <li>
      <strong>CWE ID:</strong>
      <a href="https://cwe.mitre.org/data/definitions/{{rule.metadata.cwe_id}}.html">
        {{rule.metadata.cwe_id}}
      </a>
    </li>
    {% if rule.languages %}
      <li>
        <strong>Languages:</strong>
        {{rule.languages}}</li>
    {% endif %}
    <li>
      <strong>Source:</strong>
      <a class=" text-main dark:text-main-300 hover:underline" href="{{meta.sourcePath}}/blob/main/{{rule.location}}">{{rule.name}}.yml</a>
    </li>
  </ul>
  {% renderTemplate 'liquid,md',
  rule.metadata %}

  {{remediation_message}}

  {% endrenderTemplate %}