---
pagination:
  data: rules.rules
  size: 1
  alias: rule
permalink: "references/rules/{{ rule.metadata.id | slug }}/"
layout: layouts/doc.njk
---

<h1>{{rule.metadata.description}}</h1>

{% renderTemplate "liquid, md" %}

{{ rule.metadata.remediation_message }}

{% endrenderTemplate %}