---
pagination:
  data: rules
  size: 1
  alias: rule
  addAllPagesToCollections: true
permalink: "reference/rules/{{ rule.metadata.id | slug }}/"
layout: layouts/doc.njk
breadcrumbs:
  - name: Rules
    path: /reference/rules/
eleventyComputed:
  title: "Rule - {{ rule.metadata.description }}"
---

<h1>{{rule.metadata.description}}</h1>
<ul class="not-prose list-none m-0 p-0">
  <li>
    <strong>Rule ID:</strong>
    {{rule.metadata.id}}</li>

  {% if rule.languages %}
    <li>
      <strong>Languages:</strong>
      {{rule.languages}}</li>
  {% endif %}
  <li>
    <strong>Source:</strong>
    <a class=" text-main dark:text-main-300 hover:underline" href="{{meta.sourcePath}}/blob/main/{{rule.location}}">{{rule.name}}.yml</a>
  </li>
</ul>
{% renderTemplate 'liquid,md',
rule.metadata %}

{{remediation_message}}

{% endrenderTemplate %}

{% if rule.metadata.cwe_id %}
  {% set owaspList = [] %}
  <h2 id="associated-cwe">Associated CWE</h2>
  <ul>
    {% for id in rule.metadata.cwe_id %}
      <li>
        <a href="https://cwe.mitre.org/data/definitions/{{id}}.html">
    CWE-{{id}}: {{cweList[id].name}}
        </a>
      </li>
      {% if cweList[id].owasp %}
        {% set owaspList = (owaspList.push(cweList[id].owasp), owaspList) %}
      {% endif %}
      {% endfor%}
    </ul>
    {% if owaspList %}
      <h2 id="owasp-top10">OWASP Top 10</h2>
      <ul>
        {% for value in owaspList | deduplicate %}
          <li>
            <a href="{{owaspURLs[value.id]}}">
              {{value.id}} - {{value.name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  {% endif %}