@mixin alert-variant($background, $border, $color) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;

  ::slotted(hr) {
    border-top-color: darken($border, 5%);
  }

  ::slotted(.alert-link) {
    color: darken($color, 10%);
  }
}

::slotted(hr) {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

@import '../../node_modules/bootstrap/scss/alert';
@import '../../node_modules/bootstrap/scss/close';
