name: Battle Tests
on:
  workflow_dispatch:
    inputs:
      concurrent_number:
        description: "Concurrent number of workers"
        required: true
        default: "5"
        type: choice
        options:
          - 1
          - 5
          - 25
          - 100

      language:
        description: "Language you want to process"
        required: true
        default: "all"
        type: choice
        options:
          - "all"
          - "javascript"
          - "typescript"
          - "ruby"
          - "php"
          - "c_sharp"
          - "go"
          - "python"
          - "java"
          - "crm"

      attempt:
        description: "Attempt (if you need to re-trigger for the same version)"
        required: true
        default: "1"
        type: string

      bearer_release_id:
        description: "release id"
        default: ""
        required: true
        type: string

      bearer_version:
        description: "binary version for report"
        default: "latest"
        required: true
        type: string

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ needs.tag.outputs.ref }}

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: robinraju/release-downloader@v1.7
        id: latest_artifact
        with:
          releaseId: ${{ inputs.bearer_release_id }}
          fileName: "*_linux_amd64.tar.gz"
      - name: Extract artifact
        run: |
          tar -xzvf bearer_*_linux_amd64.tar.gz
          ls -ltr
          mkdir dist
          cp bearer dist/

      - name: Build and push latest
        uses: docker/build-push-action@v4
        with:
          push: true
          context: .
          file: battle_tests/Dockerfile
          tags: bearersh/battle-test:latest
          build-args: |
            BEARER_VERSION=${{ inputs.bearer_version }}
            BATTLE_TEST_SHA=${{ github.sha }}
            ATTEMPT=${{ inputs.attempt }}
            LANGUAGE=${{ inputs.language }}
            S3_BUCKET=bearer-battle-test-reports

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: github-action-battle-test
          aws-region: eu-west-1
          role-skip-session-tagging: true
          role-duration-seconds: 3600

      - name: Run task
        run: |
          chmod +x ./.github/actions/run-task/entrypoint.sh
          ./.github/actions/run-task/entrypoint.sh
        env:
          CLUSTER: ${{ secrets.CLUSTER }}
          TASK_DEFINITION: ${{ secrets.TASK_DEFINITION }}
          SUBNET: ${{ secrets.SUBNET }}
          SECURITY_GROUP: ${{ secrets.SECURITY_GROUP }}
          CONCURRENT_TASKS: ${{ inputs.concurrent_number }}
