name: Command Doc Check
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
permissions:
  contents: read
jobs:
  validate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Generate command docs
        run: go run ./scripts/gen-doc-yaml.go
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "16"
      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
        working-directory: ./docs
      - name: prettier
        run: npm run prettier:fix
        working-directory: ./docs
      - name: Pick up any new files
        run: git add .
      - name: Check no uncommited changes
        run: git diff --exit-code
