name: End to end Tests
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - "docs/**"
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.0
      - name: Build binary for integration tests
        run: go build -a ./cmd/bearer/bearer.go
      - name: Run tests
        run: go test -v ./e2e/... -p 8
        timeout-minutes: 10
        env:
          USE_BINARY: true
